.jx-DataGrid-tollbar{
	
	height: 35px;
	
}
.jx-DataGrid-tollbar-station{
	
	float: right;
	background: #1B6D85;
	
}



.btn-group{
	float: left;
	margin-left: 5px;
	background: #1B6D85;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
}


.jx-DataGrid-box .select2-container .select2-selection--single{
	
	height: 34px !important;
	
}
.custompanel-launcher{
	
	color: #D4D4D4;
}
